@model IEnumerable<WebApplication3.Models.Review>

    <div>
        <h3>
            Результат поиска
        </h3>
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    @item.ReviewText
                </li>
            }
        </ul>
    </div>
