﻿@model IEnumerable<WebApplication3.Models.Review>

<div id="searchresults">
    <h3>
        Все отзывы от : @Model.First().Username
    </h3>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @item.ReviewText
            </li>
        }
    </ul>
</div>