@model WebApplication3.Models.Review
@{
    ViewBag.Title = "GamesReviews";
    Layout = null;
}
<div>
    @Html.LabelFor(model => model.GameId, "Выбор игры", htmlAttributes: new { @class = "control-label col-md-2" })
    <div>
        @Html.DropDownListFor(model => model.GameId, new SelectList(ViewBag.Games, "GameId", "GameName"))
    </div>
</div>

